<%- include('./partials/loggedInMenu.ejs') %>
<div style="background-color: gray; opacity: 90%;"><br/><br/>
	<form method="POST" action="/user/reporting/evening">
		<div>
			<label for="date">Date</label>
			<input id="date" type="date" name="date" value="<%= date %>" />
		</div>
		<div>
			<label for="exerciseTime">Time spent exercising</label>
			<input id="exerciseTime" type="number" name="exerciseTime" value="<%= exerciseTime %>" step="0.1" min="0" required />
		</div>
		<div>
			<label for="studyTime">Time spent studying</label>
			<input id="studyTime" type="number" name="studyTime" value="<%= studyTime %>" step="0.1" min="0" required />
		</div>
		<div>
			<label for="eating">Quality of eating</label>
			<div id="eating">
				<% for (var i = 1; i <= 5; i++) { %>
                    <% if (eating === i) { %>
                        <input type="radio" id="eating-<%= i %>" name="eating" value="<%= i %>" checked required>
                        <label for="<%= i %>"><%= i %></label>
                    <% } else { %>
                        <input type="radio" id="eating-<%= i %>" name="eating" value="<%= i %>" required>
                        <label for="<%= i %>"><%= i %></label>
                    <% } %>
                <% } %>
			</div>
		</div>
		<div>
			<label for="eveningMood">Generic mood</label>
			<div id="eveningMood">
				<% for (var i = 1; i <= 5; i++) { %>
                    <% if (eveningMood === i) { %>
                        <input type="radio" id="eveningMood-<%= i %>" name="eveningMood" value="<%= i %>" checked required>
                        <label for="<%= i %>"><%= i %></label>
                    <% } else { %>
                        <input type="radio" id="eveningMood-<%= i %>" name="eveningMood" value="<%= i %>" required>
                        <label for="<%= i %>"><%= i %></label>
                    <% } %>
                <% } %>
			</div>
		</div>
		<div>
			<% if (evening) { %>
                <input type="submit" value="Update report!" />
            <% } else { %>
                <input type="submit" value="Submit report!" />
            <% } %>
		</div>
	</form>
</div>
<% if (errors) { %>
    <%- include('./partials/errors.ejs', errors) %>
<% } %>
<%- include('./partials/footer.ejs') %>