<%- include('./partials/header.ejs') %>
<ul class="navbar">
    <li><a href="/user/reporting">Reporting</a></li>
    <li><a href="/user/summary">Summary</a></li>
    <li>
        <div>
            <p class="logout-text">Logged in as: <%= user.email %></p>
            <form method="POST" action="/auth/logout" >
                <input type="submit" value="logout" />
            </form>
        </div>
    </li>
</ul>
<div>
	<form method="POST" action="/user/reporting/morning">
		<div>
			<label for="date">Date</label>
			<input id="date" type="date" name="date" value="<%= date %>" />
		</div>
		<div>
			<label for="sleepDuration">Sleep duration</label>
			<input id="sleepDuration" type="number" name="sleepDuration" value="<%= sleepDuration %>" step="0.1" min="0" required />
		</div>
		<div>
			<label for="sleepQuality">Sleep quality</label>
			<div id="sleepQuality">
				<% for (var i = 1; i <= 5; i++) { %>
                    <% if (sleepQuality === i) { %>
                        <input type="radio" id="quality-<%= i %>" name="sleepQuality" value="<%= i %>" checked required>
                        <label for="<%= i %>"><%= i %></label>
                    <% } else { %>
                        <input type="radio" id="quality-<%= i %>" name="sleepQuality" value="<%= i %>" required>
                        <label for="<%= i %>"><%= i %></label>
                    <% } %>
                <% } %>
			</div>
		</div>
		<div>
			<label for="morningMood">Generic mood</label>
			<div id="morningMood">
				<% for (var i = 1; i <= 5; i++) { %>
                    <% if (morningMood === i) { %>
                        <input type="radio" id="morningMood-<%= i %>" name="morningMood" value="<%= i %>" checked required>
                        <label for="<%= i %>"><%= i %></label>
                    <% } else { %>
                        <input type="radio" id="morningMood-<%= i %>" name="morningMood" value="<%= i %>" required>
                        <label for="<%= i %>"><%= i %></label>
                    <% } %>
                <% } %>
			</div>
		</div>
		<div>
			<% if (morning) { %>
                <input type="submit" value="Update report!" />
            <% } else { %>
                <input type="submit" value="Submit report!" />
            <% } %>
		</div>
	</form>
</div>
<% if (errors) { %>
    <%- include('./partials/errors.ejs', errors) %>
<% } %>
<%- include('./partials/footer.ejs') %>