<%- include('./partials/loggedInMenu.ejs') %>
<div style="background-color: gray; opacity: 90%;"><br/><br/>
	<form method="POST" action="/behavior/reporting/morning">
		<div>
			<label for="date">Date</label>
			<input id="date" type="date" name="date" value="<%= date %>" />
		</div>
		<div>
			<label for="sleepDuration">Sleep duration</label>
			<input id="sleepDuration" type="number" name="sleepDuration" value="<%= sleepDuration %>" step="0.1" min="0" required />
		</div>
		<div>
			<label for="sleepQuality">Sleep quality</label>
			<div id="sleepQuality">
				<% for (var i = 1; i <= 5; i++) { %>
                    <% if (sleepQuality === i) { %>
                        <input type="radio" id="quality-<%= i %>" name="sleepQuality" value="<%= i %>" checked required>
                        <label for="<%= i %>"><%= i %></label>
                    <% } else { %>
                        <input type="radio" id="quality-<%= i %>" name="sleepQuality" value="<%= i %>" required>
                        <label for="<%= i %>"><%= i %></label>
                    <% } %>
                <% } %>
			</div>
		</div>
		<div>
			<label for="morningMood">Generic mood</label>
			<div id="morningMood">
				<% for (var i = 1; i <= 5; i++) { %>
                    <% if (morningMood === i) { %>
                        <input type="radio" id="morningMood-<%= i %>" name="morningMood" value="<%= i %>" checked required>
                        <label for="<%= i %>"><%= i %></label>
                    <% } else { %>
                        <input type="radio" id="morningMood-<%= i %>" name="morningMood" value="<%= i %>" required>
                        <label for="<%= i %>"><%= i %></label>
                    <% } %>
                <% } %>
			</div>
		</div>
		<div>
			<% if (morning) { %>
                <input type="submit" value="Update report!" />
            <% } else { %>
                <input type="submit" value="Submit report!" />
            <% } %>
		</div>
	</form>
</div>
<% if (errors) { %>
    <%- include('./partials/errors.ejs', errors) %>
<% } %>
<%- include('./partials/footer.ejs') %>