<%- include('./partials/loggedInMenu.ejs') %>
<div style="background-color: gray; opacity: 90%;"><br/><br/>
	<div>
		<form method="POST" action="/user/summary/month">
			<div class="form-group d-flex justify-content-center">
				<input type="month" id="month" name="month" /><br/>
				<input class="btn btn-outline-dark" type="submit" value="Change month" />
			</div>
		</form>
		<div class="mx-auto" style="width: 79%;">
		<% if (monthData.length > 0) { %>
		<h6 style="text-align: center;">Showing data for month nr <%= monthData[0].month %></h6>
		<table class="table">
			<thead><tr>
				<th>Sleep Quality</th>
				<th>Sleep Duration</th>
				<th>Study Time</th>
				<th>Exercise Time</th>
				<th>Mood</th>
			</tr></thead>
			<tbody><tr>
				<td><%= monthData[0].sleepqualityavg %>/5.00</td>
				<td><%= monthData[0].sleepdurationavg %> hours</td>
				<td><%= monthData[0].studytimeavg %> hours</td>
				<td><%= monthData[0].exerciseavg %> hours</td>
				<td><%= monthData[0].moodavg %>/5.00</td>
			</tr></tbody>
		</table>
		<% } else { %>
			<h6>No data for month <%= month %> 😞 </h6>
		<% }; %>
		</div>
	</div>
	<br>
	<div>
		<form method="POST" action="/user/summary/week">
			<div class="form-group d-flex justify-content-center">
				<input type="week" name="week" /><br/>
				<input class="btn btn-outline-dark" type="submit" value="Change week" />
			</div>
		</form>
		<div class="form-group d-flex justify-content-center">
		<% if (weekData.length > 0) { %>
		<h2>Showing data for week <%= weekData[0].month %></h2>
		<table class="table">
			<thead><tr>
				<th>Sleep Quality Weekly Average</th>
				<th>Sleep Duration Weekly Average</th>
				<th>Study Time Weekly Average</th>
				<th>Exercise Time Weekly Average</th>
				<th>Average Mood</th>
			</tr></thead>
			<tbody><tr>
				<td><%= weekData[0].sleepQualityAvg %>/5.00</td>
				<td><%= weekData[0].sleepDurationAvg %> hours</td>
				<td><%= weekData[0].studyTimeAvg %> hours</td>
				<td><%= weekData[0].exerciseAvg %> hours</td>
				<td><%= weekData[0].moodAvg %>/5.00</td>
			</tr></tbody>
		</table>
	</div>
		<% } else { %>
			<h6>No data for week <%= week %> yet 😞 </h6>
		<% }; %>
	</div>
</div>
<%- include('./partials/footer.ejs') %>