<%- include('./partials/loggedInMenu.ejs') %>
<div>
	<div>
		<form method="POST" action="/user/summary/month">
			<p>Month</p>
			<input type="month" name="month" value="2020-<% month %>" /><br/>
			<input type="submit" value="Change month" />
		</form>
		<% if (monthData.length > 0) { %>
		<h2>Month: <%= monthData[0].month %></h2>
		<table>
			<thead><tr>
				<th>Sleep Quality Monthly Average</th>
				<th>Sleep Duration Monthly Average</th>
				<th>Study Time Monthly Average</th>
				<th>Exercise Time Monthly Average</th>
				<th>Average Mood</th>
			</tr></thead>
			<tbody><tr>
				<td><%= monthData[0].sleepqualityavg %></td>
				<td><%= monthData[0].sleepdurationavg %></td>
				<td><%= monthData[0].studytimeavg %></td>
				<td><%= monthData[0].exerciseavg %></td>
				<td><%= monthData[0].moodavg %></td>
			</tr></tbody>
		</table>
		<% } else { %>
			<h2>No data for month <%= month %></h2>
		<% }; %>
	</div>
	<div>
		<form method="POST" action="/user/summary/week">
			<p>Week</p>
			<input type="week" name="week" value="2020-W<% week %>" /><br/>
			<input type="submit" value="Change week" />
		</form>
		<% if (weekData.length > 0) { %>
		<h2>Month: <%= weekData[0].month %></h2>
		<table>
			<thead><tr>
				<th>Sleep Quality Weekly Average</th>
				<th>Sleep Duration Weekly Average</th>
				<th>Study Time Weekly Average</th>
				<th>Exercise Time Weekly Average</th>
				<th>Average Mood</th>
			</tr></thead>
			<tbody><tr>
				<td><%= weekData[0].sleepQualityAvg %></td>
				<td><%= weekData[0].sleepDurationAvg %></td>
				<td><%= weekData[0].studyTimeAvg %></td>
				<td><%= weekData[0].exerciseAvg %></td>
				<td><%= weekData[0].moodAvg %></td>
			</tr></tbody>
		</table>
		<% } else { %>
			<h2>No data for week <%= week %></h2>
		<% }; %>
	</div>
</div>
<%- include('./partials/footer.ejs') %>